
body {
    background-color: lightgrey;
}

#container {
    min-width: 960px;
    min-height: 960px;
    margin: 0 auto;
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
}

.row {

    display: flex;
    flex-grow: 1;
    
}

.gridSquare {
    flex: 1;
    padding: 1rem 0;
    border: 1px solid blue;
    flex-grow: 1;
}

#button {
    font-size: 24px;
    margin-bottom: 8px;
}